body {
    font-size: 20px;
    margin: 0px;
    background-color: #48E2BD;
}

.page {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #0BD2A2;
    height: 70px;
}


.footer {
    background-color: #48E2BD;
    height: max-content;
    overflow-y: scroll;
}

div.main>a {
    padding: 8px;
    margin: 35px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: darkcyan;
}

a {
    height: 10px;
}

div.main>input {
    padding: 8px 70px;
    width: 50%;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    float: right;
    margin-right: 25px;
    margin-top: 13px;
}

button:hover {
    cursor: pointer;
}

table, th, td {
    text-align: center;
    border: none;
}

table.center {
    width: 100%;
    table-layout: fixed;
    border-radius: 5px;
}

thead {
    background-color: #39C3A2;
    color: #D9D9D9;
}

td {
    background-color: #D9D9D9;
}